.label {
  background-color: $gms-prominent-background;
}
.x-axis {
  background-color: $gms-prominent-background;
  border-top: 1px solid $gms-soft;

  .x-axis-axis {
    path,
    line {
      fill: none;
      stroke: $gms-main;
      shape-rendering: crispEdges;
    }
    text {
      font-family: $gms-sans;
      font-size: 11px;
      fill: $gms-main;
    }
  }
}

.y-axis {
  &__ordinate {
    path,
    line {
      stroke: $gms-soft;
    }
    text {
      font-size: 10px;
      font-family: $gms-sans;
    }
  }
}

.contentrenderer {
  border: none;
}
.channel {
  border-bottom: 1px solid $gms-weavess-borders;
}

.weavess {
  outline: none;
  .weavess-wp-container {
    outline: 0px solid $gms-weavess-borders;
    border-top: 0px solid $gms-soft;
  }
  .weavess-wp-time-range {
    color: $gms-soft;
  }
}

.weavess-wp ::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  background-color: $gms-prominent-background;
}
.weavess-wp ::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  background-color: $gms-scrollbar;
}
.weavess-wp ::-webkit-scrollbar-corner,
::-webkit-scrollbar-corner {
  background-color: $gms-prominent-background;
}

.weavess .weavess-measure-window {
  width: 100%;
  flex: 0 0 auto;
  border-bottom: 0.25rem solid $gms-recessed;
}
